* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  height: 100vh;
  width: 100%;
  background: linear-gradient(292.12deg, #62BADA -35.02%, #C9E7F2 78.96%);
  background-size: cover;

}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;

}

.logo {
  font-size: 28px;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  color: black;
  text-decoration: none;
  gap: 12px;
}

button {
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  margin: 5px;
  font-size: 14px;
}

button.signin {
  background-color: transparent;
  color: black;
  width: Hug (44px)px;
  height: Hug (19px)px;
  top: 57px;
  left: 1092px;
  gap: 12px;
  opacity: 0px;
  size: 14px;


}

button.start {
  background-color: rgba(79, 70, 186, 1);
  ;
  color: rgba(255, 255, 255, 1);


  border: none;
  width: 137px;
  height: 52px;
  top: 38px;
  left: 1186px;
  gap: 0px;
  opacity: 0px;
  size: 14px;
}

.button-container {
  display: flex;
  gap: 10px;
}